@media(max-width: 991px) {
    .carousel-caption h1 {
        font-size: calc(2rem + 1.2vw);
    }

    .carousel-details {
        width: 80%;
    }

    /* About Section */
    .about-img {
        height: 100%;
        object-fit: cover;
    }
    
    .about-more-btn {
        display: inline-block;
    }

    .about-more-text {
        display: none;
    }
}

@media(max-width: 767px) {
    .carousel-item {
        height: 80vh;
    }

    .carousel-item img {
        height: 100%;
        object-fit: cover;
    }

    .section-caption {
        width: 100%;
    }

    /* About Section */
    .about-img {
        margin-bottom: 3rem;
    }

    .about-details {
        margin-top: 3rem;
    }

    .register-container {
        flex-direction: column;
        padding: 2rem;
    }

    .register-text {
        width: 100%;
    }
}

@media(max-width: 575px) {
}