/* General Settings */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after,
*:focus {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}

:root {
    --color-prim: #289BDE;
    --color-white: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
}

.btn {
    font-size: 1.125rem;
    font-weight: 500;
    padding: .5rem 1.75rem;
}

.btn-border,
.btn-bg:hover {
    color: var(--color-prim);
    border: 1px solid var(--color-prim);
}


.btn-bg,
.btn-border:hover {
    background: var(--color-prim);
    color: var(--color-white);
}

.section {
    padding: 4rem 0;
}

/* Navbar */
.nav-logo {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-item {
    margin: 0 1rem;
}

.nav-link {
    font-size: 1.125rem;
}

/* Header Carousel */
.header {
    margin-bottom: 4rem;
}

.carousel-caption {
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-caption h1 {
    font-size: 4rem;
}

/* Course Section */
.course-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.course-price {
    color: var(--color-prim);
}

/* About Section */
.about-row {
    background: #F4FAFD;
}

/* Register Section */
.register-container {
    background: var(--color-prim);
    color: var(--color-white);
    padding: 3rem 5.5rem;
}

.register-btn {
    background: var(--color-white);
    color: var(--color-prim);
    border: 1px solid transparent;
}

.register-btn:hover {
    color: var(--color-white);
    border-color: var(--color-white);
}